/csd201/giaipt/nbproject/private/
/csd201/giaipt/build/
/csd201/PerfectNumber/nbproject/private/
/csd201/PerfectNumber/build/
/csd201/array/nbproject/private/
/csd201/array/build/
/lab211/Lab2DecimalToSomething/nbproject/private/
/lab211/Lab2DecimalToSomething/build/
/lab211/Lab3P0050/nbproject/private/
/lab211/Lab3P0050/build/
/lab211/Lab3P0051/nbproject/private/
/lab211/Lab3P0051/build/
/lab211/Lab3P0052/nbproject/private/
/lab211/Lab3P0053/nbproject/private/
/lab211/Lab3P0053/build/
/lab211/Lab3P0052/build/
/lab211/Lab14P0081/nbproject/private/
/lab211/Lab14P0081/build/
/prj311/Library/nbproject/private/
/prj311/Library/build/
/lab211/Lab4P0081/build/
/lab211/Lab4P0081/nbproject/private/
/lab211/Lab5P0055/nbproject/private/
/lab211/Lab5P0054/nbproject/private/
/lab211/Lab5P0054/build/