USE [ReadBook]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 7/27/2020 4:44:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[BookID] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Author] [nvarchar](200) NULL,
	[Publisher] [nvarchar](50) NULL,
	[Year] [nvarchar](50) NULL,
	[Category] [nvarchar](50) NULL,
	[Language] [nvarchar](50) NULL,
	[Preview] [nvarchar](4000) NULL,
	[Picture] [nvarchar](1000) NULL,
	[Content] [nvarchar](200) NULL,
 CONSTRAINT [PK__Book__3DE0C227E6D8A8A5] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserInformation]    Script Date: 7/27/2020 4:44:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInformation](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[PassWord] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[UserRight] [bit] NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[UserInformation] ON 

INSERT [dbo].[UserInformation] ([UserID], [Name], [UserName], [PassWord], [Email], [UserRight]) VALUES (1, N'Nguyễn Duy Hưng', N'Hung132', N'123456', N'hungu21@gmail.com', 0)
INSERT [dbo].[UserInformation] ([UserID], [Name], [UserName], [PassWord], [Email], [UserRight]) VALUES (2, N'Lê Thị Thanh Nhàn', N'Nhan2910', N'123456', N'Nhangu29@gmail.com', 1)
INSERT [dbo].[UserInformation] ([UserID], [Name], [UserName], [PassWord], [Email], [UserRight]) VALUES (3, N'Nguyễn Văn Huy', N'HuyXaki', N'123456', N'Huyxaki163@gmail.com', 0)
SET IDENTITY_INSERT [dbo].[UserInformation] OFF
