body{
    padding: 10px;
    margin: 0 auto;
    /* background-position: center; */
    /* display: block; */
}
h1{
    text-align: left;
    text-transform:uppercase;
    color: #499c56;
    font-family: "AhnbergHand", Courier, monospace;
    padding: 20px;
    margin: 5px;
}

input{
    width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button{
    width: 100px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}